body {
    //ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
    //IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
    //  background-color: white;
    p {
        font-size: 1rem;
    }
    li {
        font-size:1rem;
    }
    ol {
        padding-left: 5px;
    }
    // Contenedor de titulo -> Titulo
    div.toc-title-container div.toc-title {
        font-size:0.85rem;
    }
    
    // Contenedor de titulos -> Contenido
    div.toc-container nav.toc {
        padding:5px;
        
        ol {
            padding-left: 5px;
            margin-top: 0px;
            margin-bottom: 0px;
        
            li { // Titulos
                font-size:0.75rem;
            }
        }
    }
    .toc-title {
        font-size:0.85rem;
    }
    .filename {
        font-size:0.85rem;
    }
    .foldername {
        font-size:0.85rem;
    }
    .lucide-sticky-note {
        width: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
    }
    .filetree-sidebar {
        padding-left: 0px;
    }
    .toc-title-container {
        font-size:0.85rem;
    }
    .backlinks {
        font-size:0.85rem;
    }
}
