body {
    //ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
    //IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
    //  background-color: white;
    p {
        font-size: 1rem;
    }
    li {
        font-size:1rem;
    }
    ol {
        padding-left: 5px;
    }

    // Indice de titulos
    div.toc { 
        // Titulo
        div.toc-title-container div.toc-title {
            font-size:0.85rem;
        }
        
        // Contenedor de Contenido
        div.toc-container nav.toc {
            padding:5px;

            // Contenido
            ol {
                padding-left: 5px;
                margin-top: 0px;
                margin-bottom: 0px;
                
                // Texto
                li { 
                    font-size:0.75rem;
                }
            }
        }
    }

    // Enlaces a otras paginas
    div.backlinks {
        // Titulo
        div.backlink-title {
            font-size:0.85rem;
        }

        // Contenido
        div.backlink-list div.backlink-card {
            margin-left:5px;
            padding-bottom:5px;
            
            //Icono
            svg.lucide-link {
                width: 15px;
                height: 15px;
            }
            
            // Texto
            a.backlink {
                font-size:0.2rem;
            }
        }
    }
    
    
    .filename {
        font-size:0.85rem;
    }
    .foldername {
        font-size:0.85rem;
    }
    .lucide-sticky-note {
        width: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
    }
    .filetree-sidebar {
        padding-left: 0px;
    }
